export KUBECONFIG=./kubeconfig
export GOOGLE_APPLICATION_CREDENTIALS=/Users/kameshs/.ssh/kameshs-solo-io-gcp.json
export GOOGLE_PROJECT_ID=solo-test-236622
export VAULT_FILE=.password_file
export EDITOR="code -w"