# GCP 
gcp_vpc_name: <your vpc name>
gcp_vpn_name: <your vpn name>

# CIVO key
civo_api_key: <your civo api key>

# GCP SA JSON file
gcp_project: <your gcp project>
gcp_region: <gcp region to use>

# AWS
aws_access_key_id: <your aws access id>
aws_secret_access_key: <your aws access secret key>
aws_region: <your aws region>

#CIVO 
civo_cred_file: "{{ ansible_env.HOME }}/.config/gcloud/credentials"
# APP
# Clean install of app
force_app_install: no
# Clean Istio VM files
clean_istio_vm_files: no

# Istio 
k8s_context: <your kubernetes cluster context name>
 

