#jinja2: lstrip_blocks: "True"
apiVersion: eksctl.io/v1alpha5
kind: ClusterConfig
metadata:
  name: "{{ eks_cluster_name }}"
  region: " {{ aws_region }}"
  tags:
    app: gloo
  version: "{{ kubernetes_version }}"
vpc:
  id: "{{ k8s_vpc_id }}" 
  cidr: "{{ k8s_vpc_cidr_block }}"
  subnets:
    private:
    {% for privs in k8s_private_subnets.results %}
      {{ privs.subnet.availability_zone }}: 
         id: "{{ privs.subnet.id }}"
    {% endfor %}
    public:
    {% for pubs in k8s_public_subnets.results %}
      {{ pubs.subnet.availability_zone }}: 
         id: "{{ pubs.subnet.id }}"
    {% endfor %}
  clusterEndpoints:
    privateAccess: false
    publicAccess: true
  nat:
    gateway: Single
nodeGroups:
- name: "{{eks_cluster_name}}-workers-large"
  desiredCapacity: {{ eks_cluster_node_size }}
  securityGroups:
    attachIDs:
    - "{{ k8s_sg_gloo_group_id }}"
  volumeIOPS: 3000
  volumeSize: 80
  volumeThroughput: 125
  volumeType: gp3
