#jinja2: lstrip_blocks: "True"
apiVersion: v1
clusters:
- cluster:
    server: [[ stack_outputs.ClusterEndpoint ]]
    certificate-authority-data: [[ stack_outputs.CertificateAuthorityData ]]
  name: kubernetes
contexts:
- context:
    cluster: kubernetes
    user: aws
  name: aws
current-context: aws
kind: Config
preferences: {}
users:
- name: aws
  user:
    exec:
      apiVersion: client.authentication.k8s.io/v1alpha1
      command: aws-iam-authenticator
      args:
        - "token"
        - "-i"
        - "[[ stack_outputs.ClusterName]]"