conn {{ ipsec_connection_name }}
    left=%defaultroute
    leftsubnet={{ left_subnet }}
    right={{ right }}
    rightsubnet={{ right_subnet }}
    authby=secret
    auto=start
    {% if  ansible_os_family == "Debian" %}
    ikev2=no
    {% endif %}
