[Unit]
Description=Tunnel Heartbeat
After=network.target

[Service]
Type=simple
User={{ ansible_user }}
Group={{ ansible_user }}
ExecStart=/usr/local/bin/tunnel-heartbeat.sh
Restart=on-failure
TimeoutStopSec=30
KillMode=process

[Install]
WantedBy=multi-user.target